<div class="col-md-7 col-md-offset-2">

  <h1>
    <%= @feed.name %>
  </h1>
  <p>
    <%= @feed.description ||= "No description" %>
  </p>

  <%= link_to 'Back', user_path(@user) %>

</div>





<div class="col-md-3">
  <%= image_tag "rss_icon.png" %><br>
  <%= "#{request.original_url}.rss" %><br>
  <br>
  <% if current_user? @user %>
  <p> Send new episodes to:<br>
    <%= @feed.slug%>@app 
  </p>
  <% end %>
</div>
